<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="午休音乐播放器.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <午休音乐播放器.Settings>
            <setting name="BeginHour" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="BeginMinute" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="LateTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MusicName1" serializeAs="String">
                <value />
            </setting>
            <setting name="MusicName2" serializeAs="String">
                <value />
            </setting>
            <setting name="MusicName3" serializeAs="String">
                <value />
            </setting>
            <setting name="MusicName4" serializeAs="String">
                <value />
            </setting>
            <setting name="MusicName5" serializeAs="String">
                <value />
            </setting>
            <setting name="MusicName6" serializeAs="String">
                <value />
            </setting>
            <setting name="MusicName7" serializeAs="String">
                <value />
            </setting>
            <setting name="StartMusicMethodType" serializeAs="String">
                <value>1</value>
            </setting>
        </午休音乐播放器.Settings>
    </userSettings>
</configuration>